<!doctype html>

<title>Test</title> 
<meta charset=utf-8> 

<style>
    div, h1, h4 {text-align: center;}
    h1 {font-size: 50px;}
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
</style>

<h1>Welcome to our Search Engine</h1> 
<h4>This was created by Vikram, Kerri, Divya, and Lawrence for our CS121 class</h4>
<br><br><br>

<div>
    <form name="passdata" action="." method="POST">
        <label>What would you like to search:</label><br>
        <input type="text" name="query" style="width: 600px; height: 20px; text-align: center;"><br>
        <input type="submit" value="Search">
    </form>
</div>



